<p id="notice"><%= notice %></p>
<section class="articles-frontpage">
  <div class="frontpage">
    <%= link_to ' ', @main_article, class: 'click-image'%>
    <%= image_tag(@main_article.image, class:"article-image") %>
    <h3 class="text"><%= @main_article.title%></h3>
    <p class="text"><%= @main_article.text%></p>
  </div>
  <div class="articles-column">
    <div>
      <%= link_to ' ', @second_article, class: 'click-image'%>
      <%= image_tag(@second_article.image, class:"article-image") %>
      <h3><%= @second_article.title%></h3>
    </div>

    <div>
      <%= link_to ' ', @third_article, class: 'click-image'%>
      <%= image_tag(@third_article.image, class:"article-image") %>
      <h3><%= @third_article.title%></h3>
    </div>
  </div>
</section>
<section class="articles-row">
  <% @categories.each do |category| %>
    <div>
      <%= link_to ' ', collection_path(id: category.articles.sort_by(&:created_at).last), class: 'click-image'%>
      <%= image_tag(category.articles.sort_by(&:created_at).last.image, class:"article-image") %>
      <h3><%= category.articles.sort_by(&:created_at).last.category.name%></h3>
      <p><%= category.articles.sort_by(&:created_at).last.title%></p>
    </div>
  <% end %>
</section>
