<p id="notice"><%= notice %></p>
<section class="articles-frontpage">
  <div class="frontpage">
    <%= image_tag(@main_article.image, class:"article-image") %>
    <h3><%= @main_article.title%></h3>
    <p><%= @main_article.text%></p>
  </div>
  <div class="articles-column">
    <div>
      <%= image_tag(@second_article.image, class:"article-image") %>
      <h3><%= @second_article.title%></h3>
      <p><%= @second_article.text%></p>
    </div>

    <div>
      <%= image_tag(@third_article.image, class:"article-image") %>
      <h3><%= @third_article.title%></h3>
      <p><%= @third_article.text%></p>
    </div>
  </div>
</section>
<section class="articles-row">
  <% @articles.each do |article| %>
  <div>
    <%= image_tag(article.image, class:"article-image") %>
    <h3><%= article.category.name%></h3>
    <p><%= article.title%></p>
  </div>
  <% end %>
</section>


<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Category</th>
      <th>Votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= article.category.name %></td>
        <td><%= article.votes.count %></td>
        <% if session[:current_user_id].is_a? Integer %>
          <% if article.votes.find_by(user_id: @user).present? %>
            <td><%= link_to 'Dislike', unvote_path(user_id: @user, article_id: article), method: :put %></td>
          <% else %>
            <td><%= link_to 'Like', vote_path(user_id: @user, article_id: article), method: :put %></td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Article', new_article_path %>
