<p id="notice"><%= notice %></p>

  <%= image_tag(@article.image) if @article.image.attached? %>

<p>
  <strong>Author:</strong>
  <%= @article.author.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= simple_format(@article.text) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>
