<section class="articles-category">
  <div>
    <% @collection.each do |collection| %>
      <div>
        <%= image_tag(collection.image, class:"article-image") %>
        <div class="category-article-content">
          <h3><%= simple_format(collection.category.name) %></h3>
          <h2><%= collection.title %></h2>
          <h2>Author:
            <%= collection.author.name %></h2>
          <p class="text"><%= collection.text %></p>
          <% if session[:current_user_id].is_a? Integer %>
            <% if collection.votes.find_by(user_id: @user).present? %>
              <h3><%= link_to 'unvote', unvote_path(user_id: @user, article_id: collection), method: :put %></h3>
            <% else %>
              <h3><%= link_to 'vote', vote_path(user_id: @user, article_id: collection), method: :put %></h3>
            <% end %>
            <% if session[:current_user_id] == collection.author.id %>
            <h3><%= link_to 'Edit Article', edit_article_path(collection) %></h3>
            <% end %>
          <% end %>

           <h3><%= link_to 'Read more', collection %></h3>
        </div>
      </div>
    <% end %>
  </div>
</section>
