<!DOCTYPE html>
<html>
  <head>
    <title>The Station</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://kit.fontawesome.com/8e996abce9.js"></script>
  </head>

  <body class="main">
    <div class="main-container">
      <header class="navbar">
        <div>
          <h1><%= link_to 'The Station', root_path %></h1>
        </div>
        <div>
          <ul>
            <li><a href="#" class="navbar-selected">Home</a></li>
            <li><a href="#">e-sports</a></li>
            <li><a href="#">pc</a></li>
            <li><a href="#">playstation</a></li>
            <li><a href="#">xbox</a></li>
            <li><a href="#">mobile</a></li>
          </ul>
        </div>
        <div class="navbar-login">
          <div>
            <% if session[:current_user_id].is_a? Integer %>
              <h3>Current Profile: <%= link_to "#{@user.name}", @user %> | <%= link_to 'Log out', log_out_path, method: :delete %></h3>
            <% else %>
              <%= link_to 'LOGIN', sign_in_path %> | <%= link_to 'REGISTER', new_user_path %>
            <% end %>
          </div>
          <div>
            <i class="fas fa-search"></i>
          </div>
        </div>
      </header>
      <%= yield %>
      <footer>
        <div class="footer-logo">
          <h1>The Station</h1>
        </div>
        <div class="footer-terms">
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li class="copyrights-text">Copyrights 2020. All rights reserved.</li>
          </ul>
        </div>
        <div class="footer-social">
          <p>Connect with us:</p>
          <div>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-facebook-square"></i>
          </div>
        </div>
      </footer>
      </div>
  </body>
</html>
